

/*NAV BAR*/
#my-acc-link{
  color: white;
  margin-right: 1em;
  font-size: 1rem;
}
#most-pop-link{
  color: white;
  margin-right: 1em;
  font-size: 1rem;
}
#new-ed-link{
  color: white;
  margin-right: 1em;
  font-size: 1rem;
}
#your-fave-link{
  color: white;
  margin-right: 1em;
  font-size: 1rem;
}
#login-link{
  color: white;
  margin-right: 1em;
  font-size: 1rem;
}
#signup-link{
  color: white;
  font-size: 1rem;
}
.navbar li a:hover:not(.active) {
  background-color: #414141;
}

/*SEARCH BAR EDITS*/
#search-bar input:focus {
  outline:none !important;
}
.search-box{
  margin-right: 1rem;
}
.nav-item a{
  letter-spacing: .05em;
}

/*RESTAURANT PICTURE */
.rest-picture img {
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

/*FONTS*/
.navbar-brand {
  font-family: Josefin Sans, serif;
  font-weight: 700;
}
.nav-item{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
}
#search-bar{
  margin-left: .5rem;
  font-family: 'Overpass', sans-serif;
}