/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px;
    position: absolute; /* Stay in place */
    background-color: #353746;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 12px 12px 12px 32px;
    text-decoration: underline;
    font-size: 30px;
    color: #ab0032;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

figcaption {
    position: absolute;
    text-align: center;
    right: 20px;

}

figure img {
    height: 300px;
    width: 280px;
    position: absolute;
    right: 20px;

} 

h3 {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
    overflow:hidden;
    padding-bottom: 150px;

}

.page-content {
    margin-left: 260px
}

/* COPPIED FROM LENA FOR THE NAVBAR AND FOOTER*/

/*FONTS USED
    font-family: 'Bebas Neue', cursive;

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Overpass', sans-serif;
*/

/*PADDING & MARGINS*/
.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.no-pads {
    padding: 0;
}

.padding-top {
    padding-top: 1rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

/*COLORS*/
.light-red-bg {
    background-color: #ab0032;
    color: #fff;
}

.light-red {
    color: #ab0032;
}

.dark-red-bg {
    background-color: #880924;
}

.dark-red {
    color: #880924;
}

.gray-bg {
    background-color: #c8c7c7;
}

.gray {
    color: #c8c7c7;
}

.black {
    color: #000;
}

/*LOGO*/
.logo {
    font-family: Josefin Sans, serif;
    font-weight: 700;
}

/*SEARCH BAR */
.search-style, .search-style:focus, .search-style:active {
    outline: none !important;
    box-shadow: none;
}


/*RESTAURANT PICTURE */
.restaurant-img-container {
    position: relative;
}

.restaurant-img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
}

.restaurant-photos-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, .6);
}

/*BUTTONS*/
.btn-style {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .05rem;
}
.write-a-review-btn:hover{
    color: rgba(255, 255, 255, .6);
}
.restaurant-photos-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: transparent;
    border-color: white;
}

.post-photo-btn {
    border-color: black;
}
.post-photo-btn:hover{
    color: rgba(0, 0, 0, .6);
}

/*ICONS*/
.icon-size {
    font-size: 1.5rem;
}

/*FONTS*/
.body-txt {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.header-1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.05rem;
    font-size: 2.5rem;
}
.header-2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05rem;
    font-size: 2rem;
}

.restaurant-name-txt {
    margin-bottom: .5rem;
}

.restaurant-cuisine-txt {
    margin-bottom: -.5rem;
    font-weight: 300;
}

.restaurant-info {
    font-size: 1.2rem;
}

.user-review-post {
    font-size: 1rem;
    resize: none;
    border: none;
    margin-top: 0;
    text-align: left;
}

.restaurant-days {
    margin: 1rem 0 1rem 1.5rem;
}

.restaurant-hours {
    margin: 1rem 1.5rem;
}

.footer-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/*RATINGS*/

.rating {
    height: 3rem;
    margin-left: -0.3125rem;
    padding: 0.3125rem;
    font-size: 1.5rem;
    position: relative;
}
.user-rating {
    height: 2rem;
    margin-left: -0.3125rem;
    padding: 0.3125rem;
    font-size: .9rem;
    position: relative;
}

.rating-item input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
}

/*FOOTER*/
.linkedin-container {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.linkedin-btns {
    margin-top: .5rem;
}

/* map size ratio to page*/
.location iframe {
    width: 100%;
}
