<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='loginpage/login-page.css') }}">
  <!--<script defer src="{{ url_for('static',filename='login-page.js')}}"></script>-->
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;700&display=swap');
</style>

<body>
  <main id="main-holder">
    <h1 id="login-header">EBURG EATS Login</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>

    <form id="login-form" method="POST" action="">
      {{ form.hidden_tag() }}
      <input class="login-form-field" id="username" name="username" required type="text" value="">
      <input class="login-form-field" id="password" name="password" required type="password" value="">
      <input id="submit" name="submit" type="submit" value="Login">
    </form>
    
  </main>
</body>

</html>