* {
    text-decoration: none;
    list-style: none;
}

/*FONTS USED
    font-family: 'Bebas Neue', cursive;

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Overpass', sans-serif;
*/

/*PADDING & MARGINS*/
.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.no-pads {
    padding: 0;
}

.padding-top {
    padding-top: 1rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

/*COLORS*/
.light-red-bg {
    background-color: #ab0032;
    color: #fff;
}

.light-red {
    color: #ab0032;
}

.dark-red-bg {
    background-color: #880924;
}

.dark-red {
    color: #880924;
}

.gray-bg {
    background-color: #c8c7c7;
}

.gray {
    color: #c8c7c7;
}

.black {
    color: #000;
}

/*LOGO*/
.logo {
    font-family: Josefin Sans, serif;
    font-weight: 700;
}

/*SEARCH BAR */
.search-style, .search-style:focus, .search-style:active {
    outline: none !important;
    box-shadow: none;
}


/*RESTAURANT PICTURE */
.restaurant-img-container {
    position: relative;
}

.restaurant-img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
}

.restaurant-photos-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, .6);
}

/*BUTTONS*/
.btn-style {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .05rem;
}
.write-a-review-btn:hover{
    color: rgba(255, 255, 255, .6);
}
.restaurant-photos-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: transparent;
    border-color: white;
}

.post-photo-btn {
    border-color: black;
}
.post-photo-btn:hover{
    color: rgba(0, 0, 0, .6);
}

/*ICONS*/
.icon-size {
    font-size: 1.5rem;
}

/*FONTS*/
.body-txt {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.header-1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.05rem;
    font-size: 2.5rem;
}
.header-2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05rem;
    font-size: 2rem;
}

.restaurant-name-txt {
    margin-bottom: .5rem;
}

.restaurant-cuisine-txt {
    margin-bottom: -.5rem;
    font-weight: 300;
}

.restaurant-info {
    font-size: 1.2rem;
}

.user-review-post {
    font-size: 1rem;
    resize: none;
    border: none;
    margin-top: 0;
    text-align: left;
}

.restaurant-days {
    margin: 1rem 0 1rem 1.5rem;
}

.restaurant-hours {
    margin: 1rem 1.5rem;
}

.footer-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/*RATINGS*/

.rating-item {
    height: 3rem;
    margin-left: -0.3125rem;
    padding: 0.3125rem;
    font-size: 1.5rem;
    position: relative;
}
.user-rating-item {
    height: 2rem;
    margin-left: -0.3125rem;
    padding: 0.3125rem;
    font-size: .9rem;
    position: relative;
}

.rating-item input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
}

/*FOOTER*/
.linkedin-container {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.linkedin-btns {
    margin-top: .5rem;
}

/* map size ratio to page*/
.location iframe {
    width: 100%;
}
