.review-post {
    text-align: left;
    font-size: 1rem;
    resize: none;
    border-color: black;
    padding: 1rem 1rem 1rem 1rem;
}

.restaurant-name {
    margin-bottom: 0;
}

.post-a-photo {
    padding-left: 1px;
}

.ratings {
    margin-bottom: 0;
}

textarea {
    resize: none;
    padding: 1rem 1rem 1rem 1rem;
}


/*Star Style*/
.rating-item {
    height: 3rem;
    margin-left: -0.3125rem;
    padding: 0.3125rem;
    font-size: 1.5rem;
    position: relative;
}

