/*font-family: 'Bebas Neue', cursive;*/

/*font-family: 'Josefin Sans', sans-serif;*/

/*font-family: 'Montserrat', sans-serif;*/

/*font-family: 'Overpass', sans-serif;*/

/*SEARCH BAR EDITS*/
input:focus {
    outline:none !important;

}
.nav-item a{
    letter-spacing: .05em;
}
/*RESTAURANT PICTURE */
.rest-picture img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
}

/*FONTS*/
.navbar-brand {
    font-family: Josefin Sans, serif;
    font-weight: 700;
}
.nav-item{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}
#search-bar{
    font-family: 'Overpass', sans-serif;
}
#rest-name h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.03em;
    margin-bottom: .3em;
    font-size: 2.5em;
}
#cuisine{
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    margin-bottom: -.5em;
    font-size: 1em;
}
#rest-review{
    font-family: 'Bebas Neue', cursive;
    background: #ab0032;
    color: white;
    letter-spacing: 0.03em;
}
#review-photo{
    font-family: 'Bebas Neue', cursive;
    margin-left: 1em;
    border-color: black;
}
#rest-info h3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
    font-size: 2em;
}
#rest-info span{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}
#review-col h3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
    font-size: 2em;
}
#post-date text{
    color:#969696;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
#username text{
    color:black;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}
#ratings-data text{
    color:#969696;
    font-family: 'Bebas Neue', cursive;
}
#photos-data text{
    color:#969696;
    font-family: 'Bebas Neue', cursive;
}
#review-post{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 1em;
    resize:none;
    border:none;
    margin-top:0;
    text-align: left;
}
#loc-hours h3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
    font-size: 2em;
}
#days li{
    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;

}
#hours li{
    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
#footer-txt{
    font-family: 'Montserrat', sans-serif;
}

/*RATINGS*/
.ratings-container{
    position: relative;
}
.stars {
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.star {
    color: #ab0032; !important;
}

.rate {
    height: 3em;
    margin-left: -0.3125em;
    padding: 0.3125em;
    font-size: 1.4em;
    position: relative;
    float: left;
}

.rate input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
}

/*BUTTONS*/
#rest-review button{
    background: #880924;
}
/*ICONS*/
#rest-info .fas{
    margin-left: 0.3125em;
    font-size: 1.2em;
    color:#969696;
}
#review-photo .fas{
    margin-right: 0.3125em;
    color: #ab0032;
}

/* map size ratio to page*/
.location iframe{
    width: 100%;
}
